.board-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 8px;
	border-radius: 24px;
}

.board-item--close {
	justify-content: center;
	padding: 8px 0;
}

.board-item:not(.board-item--close):hover {
	outline: 2px #506fea solid;
}

.board-item.board-item--close .board-img:hover {
	outline: 2px #506fea solid;
	outline-offset: 5px;
	border-radius: 50%;
}

.board-img {
	width: 36px;
	height: 36px;
}