.sidebar-boards {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
	background-color: transparent;
	padding: 8px 16px 0 16px;
}

.switch-sidebar-cont {
	height: auto;
	margin-bottom: 24px;
}

.switch-sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 5px;
}

.boards-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	height: 86%;
	overflow-y: auto;
	padding: 2px 2px;
}

.board-add-new {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
}

.new-board-img {
	width: 24px;
	height: 24px;
}

.switch-theme {
	display: flex;
	gap: 4px;
	width: 100%;
	height: 50px;
	padding: 4px;
	background-color: var(--main-bg-color);
	border-radius: 8px;
}

.theme-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	position: relative;
	width: 50%;
	color: var(--main-color);
	background-color: transparent;
	font-weight: 700;
	border-radius: 8px;
	padding-right: 20px;
}

.theme-btn--active {
	background-color: var(--bg-color);
}




.sidebar-boards--close {
	width: fit-content;
	justify-content: space-between;
}

.change-display--close {
	display: flex;
	justify-content: center;
	padding: 8px 0 0 0;
}

.switch-theme--close {
	margin-left: 8px;
}




@media (max-width: 1024px) {
	.sidebar-boards {
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		height: 100%;
		background-color: var(--bg-color);
		padding: 20px 16px 12px 16px;
		z-index: 9;
	}

	.sidebar-boards--close {
		position: static;
		width: fit-content;
	}
}

@media (max-width: 640px) {
	.sidebar-boards {
		width: 100%;
		padding: 4px 16px 0 16px;
	}

	.sidebar-boards--close {
		width: fit-content;
	}
}

@media (max-width: 480px) {
	.sidebar-boards--close {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
		width: 100%;
		height: 50px;
		background-color: transparent;
		padding: 0;
	}

	.switch-sidebar-cont {
		margin-bottom: 0;
	}

	.boards-list {
		margin-top: 20px;
	}

	.boards-list--close {
		flex-direction: row;
		justify-content: start;
		align-items: center;
		margin-top: 0;
		height: auto;
		overflow-x: auto;
	}

	.change-display--close {
		display: none;
	}

	.switch-theme--close {
		display: flex;
	}
}