@import './styles/reset.css';
@import './styles/webkit.css';

:root {
  font-family: DM Sans;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #191B1F;
  --main-bg-color: #2A2D32;
  --main-color: #FEF7EE;
  --dull-color: #7E878D;

  --fill-img-color: #FEF7EE;
  --hover-color: #506fea;
  --board-color: #4d5157;
}

.light-theme {
  --bg-color: #fff;
  --main-bg-color: #F0F6FE;
  --main-color: #191B1F;
  --fill-img-color: #191B1F;
}